<h1>Create Post</h1>

<% if @post.errors.any? %>
  <em>Your post submission has <%= pluralize(@post.errors.count, 'problem') %>.</em>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @post do |f| %>
  <%= f.label :title %><br>
  <%= f.text_field :title, autofocus: true %>
  <br>
  <%= f.label :body %><br>
  <%= f.text_area :body, size: '50x7' %>
  <br>
  <%= f.submit 'Create Post' %>
<% end %>
