.page-header
  %h1 Odin Flickr App

.container
= form_tag(home_path, method: :get) do
  = label_tag(:id, "Flickr ID", class: 'sr-only')
  .col-md-6.form-group
    = text_field_tag(:id, @id.to_s, class: 'form-control', placeholder: 'Enter your Flickr ID')
  .col-md-12
    = submit_tag("Show Photos", class: 'btn btn-lg btn-info')

- if @id
  %hr.col-md-12
  .photos
    %h2.text-primary= "Photos for user #{@id}"
    = render_flickr_widget(@id)
-#  = render_flickr_sidebar_widget(@id)
